In [46]:
import pandas as pd    
import gc
import os

place = pd.read_excel(os.path.join('..','..','data','JS_11_data_place.xlsx'))
print(place.shape)
place.head()

(15890, 11)

,Unnamed: 0,place.id,place.name,place.category,is_fch,lat,lng,land.addr,category,review.count,rating
0,0,11605455,가미분식,종합분식,0,37.558661,126.945960,서울특별시 서대문구 대현동 54-1 무궁화상가아파트,EAT,32.0,4.093750
1,1,10976694,유래회관,"육류,고기요리-일반",0,37.566438,127.031591,서울특별시 성동구 홍익동 357 유래회관,EAT,27.0,4.185185
2,2,11398664,대성갈비,"육류,고기요리-일반",0,37.547073,127.044028,서울특별시 성동구 성수동1가 668-21,EAT,76.0,4.217105
3,3,11663081,철길왕갈비살,"육류,고기요리-일반",0,37.554546,126.931666,서울특별시 마포구 창전동 4-2,EAT,54.0,4.407407
4,4,11677544,황소고집,"육류,고기요리-일반",0,37.568593,126.986046,서울특별시 종로구 관철동 11-11,EAT,69.0,4.326087

In [47]:
import pandas as pd    
import gc
import os

review = pd.read_excel(os.path.join('..','..','data','JS_11_data_review.xlsx'))
print(review.shape)
review.head()

(479691, 12)

,Unnamed: 0,id,rating,body,idno,place.id,photonum,createdDate,language,is_fch,is_local,place.name
0,0,5ec7ec658160f100109a8368,4.5,NaN,4TXey,1150710065,0,2020-05-21 20:42:00,ko,1,1,스타벅스 보라매공원R점
1,1,5d14eaa963951f37e4243fa5,5.0,none,awWC,1150710065,0,2019-06-28 01:11:03,ko,1,1,스타벅스 보라매공원R점
2,2,5e69024bf896230011648a61,5.0,NaN,1Unzg,1150710065,0,2020-03-12 00:22:00,ko,1,1,스타벅스 보라매공원R점
3,3,5e4f98b95543c700113e18e7,5.0,NaN,LRVl,1150710065,0,2020-02-16 17:06:00,ko,1,1,스타벅스 보라매공원R점
4,4,5c8528bdf9e6b96d632ae302,5.0,2019.03.06\nHH,ESN1,1150710065,0,2019-03-11 00:08:48,ko,1,1,스타벅스 보라매공원R점

In [48]:
dd = review.groupby('id')['rating'].agg([('ids','mean')]).reset_index()
dd = dd.reset_index()
dd = dd.rename(columns = {'index':'userID'})
ds = pd.merge(review,dd, on='id')
ds = ds.drop(columns = ['ids','id','language','idno','Unnamed: 0','body'], axis=1)
review = ds.rename(columns = {'place.id':'locationId'})

d1 = review.groupby('locationId')['photonum'].agg([('average_photonum','mean')]).reset_index()
review = pd.merge(review,d1, on='locationId')
d2 = review.groupby('locationId')['rating'].agg([('average_rating','mean')]).reset_index()
review = pd.merge(review,d2, on='locationId')
d4 = review.groupby('userID')['rating'].agg([('user_mean_rating','mean')]).reset_index()
review = pd.merge(review,d4, on='userID')
d5 = review.groupby('userID')['rating'].agg([('user_reviewcount','count')]).reset_index()
review = pd.merge(review,d5, on='userID')
review

,rating,locationId,photonum,createdDate,is_fch,is_local,place.name,userID,average_photonum,average_rating,user_mean_rating,user_reviewcount
0,4.5,1150710065,0,2020-05-21 20:42:00,1,1,스타벅스 보라매공원R점,432293,0.164557,4.506329,4.5,1
1,5.0,1150710065,0,2019-06-28 01:11:03,1,1,스타벅스 보라매공원R점,135109,0.164557,4.506329,5.0,1
2,5.0,1150710065,0,2020-03-12 00:22:00,1,1,스타벅스 보라매공원R점,269138,0.164557,4.506329,5.0,1
3,5.0,1150710065,0,2020-02-16 17:06:00,1,1,스타벅스 보라매공원R점,246123,0.164557,4.506329,5.0,1
4,5.0,1150710065,0,2019-03-11 00:08:48,1,1,스타벅스 보라매공원R점,119248,0.164557,4.506329,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
479686,2.0,8298647,2,2016-04-03 00:00:00,0,0,더스테이호텔,60218,2.000000,2.000000,2.0,1
479687,2.0,2226404,0,2015-09-30 00:00:00,0,0,H2O 게스트하우스,43750,0.000000,2.000000,2.0,1
479688,3.0,1625995,9,2015-09-22 00:00:00,0,0,봉 하우스,42921,9.000000,3.000000,3.0,1
479689,3.0,6892917,1,2013-08-06 00:00:00,0,0,24게스트하우스 신촌,25687,1.000000,3.000000,3.0,1
479690,3.0,3568978,0,2016-02-24 00:00:00,0,0,효선당 게스트하우스,57026,0.000000,3.000000,3.0,1

In [49]:
place = place.rename(columns = {'place.id':'locationId'})
place = place.drop(columns = ['Unnamed: 0','place.category','place.name'])
place = place.rename(columns = {'review.count':'rated_count'})
place['category_l'] = place['category'].apply(lambda x: 1 if x=='EAT' else 0)
place = place.drop(columns = ['is_fch'])
place = place.drop(columns = ['rating'])
place

,locationId,lat,lng,land.addr,category,rated_count,category_l
0,11605455,37.558661,126.945960,서울특별시 서대문구 대현동 54-1 무궁화상가아파트,EAT,32.0,1
1,10976694,37.566438,127.031591,서울특별시 성동구 홍익동 357 유래회관,EAT,27.0,1
2,11398664,37.547073,127.044028,서울특별시 성동구 성수동1가 668-21,EAT,76.0,1
3,11663081,37.554546,126.931666,서울특별시 마포구 창전동 4-2,EAT,54.0,1
4,11677544,37.568593,126.986046,서울특별시 종로구 관철동 11-11,EAT,69.0,1
...,...,...,...,...,...,...,...
15885,1150903,37.563004,127.005544,서울특별시 중구 쌍림동 240 영빈관광호텔,ACM,2.0,0
15886,2303934,37.558819,126.986443,서울특별시 중구 남산동2가 18-6,ACM,4.0,0
15887,6998634,37.564187,127.008694,서울특별시 중구 광희동2가 238-1,ACM,379.0,0
15888,299533,37.505102,127.057088,서울특별시 강남구 대치동 893-1 이비스 스타일 앰배서더 서울 강남,ACM,13.0,0
15889,6561923,37.560715,126.994911,서울특별시 중구 필동2가 17-5,ACM,1.0,0

In [55]:
df = pd.merge(review, place, on='locationId')
print(df.shape)
df

(479691, 18)

,rating,locationId,photonum,createdDate,is_fch,is_local,place.name,userID,average_photonum,average_rating,user_mean_rating,user_reviewcount,lat,lng,land.addr,category,rated_count,category_l
0,4.5,1150710065,0,2020-05-21 20:42:00,1,1,스타벅스 보라매공원R점,432293,0.164557,4.506329,4.5,1,37.492103,126.923551,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
1,5.0,1150710065,0,2019-06-28 01:11:03,1,1,스타벅스 보라매공원R점,135109,0.164557,4.506329,5.0,1,37.492103,126.923551,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
2,5.0,1150710065,0,2020-03-12 00:22:00,1,1,스타벅스 보라매공원R점,269138,0.164557,4.506329,5.0,1,37.492103,126.923551,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
3,5.0,1150710065,0,2020-02-16 17:06:00,1,1,스타벅스 보라매공원R점,246123,0.164557,4.506329,5.0,1,37.492103,126.923551,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
4,5.0,1150710065,0,2019-03-11 00:08:48,1,1,스타벅스 보라매공원R점,119248,0.164557,4.506329,5.0,1,37.492103,126.923551,"서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT",EAT,158.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479686,2.0,8298647,2,2016-04-03 00:00:00,0,0,더스테이호텔,60218,2.000000,2.000000,2.0,1,37.561908,126.986790,서울특별시 중구 충무로2가 12-19,ACM,1.0,0
479687,2.0,2226404,0,2015-09-30 00:00:00,0,0,H2O 게스트하우스,43750,0.000000,2.000000,2.0,1,37.566925,126.995023,서울특별시 중구 산림동 293-1 석화사우나,ACM,1.0,0
479688,3.0,1625995,9,2015-09-22 00:00:00,0,0,봉 하우스,42921,9.000000,3.000000,3.0,1,37.584134,126.997033,서울특별시 종로구 명륜3가 117-2,ACM,1.0,0
479689,3.0,6892917,1,2013-08-06 00:00:00,0,0,24게스트하우스 신촌,25687,1.000000,3.000000,3.0,1,37.555017,126.935184,서울특별시 마포구 노고산동 57-20,ACM,1.0,0
479690,3.0,3568978,0,2016-02-24 00:00:00,0,0,효선당 게스트하우스,57026,0.000000,3.000000,3.0,1,37.577283,126.985297,서울특별시 종로구 안국동 133-2,ACM,1.0,0

In [56]:
df.to_csv(os.path.join("..","..","data","YN_final_df2.csv"), index=False)
print('save the data YN_final_df2')

save the data YN_final_df2